<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  First Name:
  <div class="mb-3"><%= f.text_field :first_name %></div>
  Last Name:
  <div class="mb-3"><%= f.text_field :last_name %></div>
  Email: 
  <div class="mb-3"><%= f.text_field :email %></div>
  Password: 
  <div class="mb-3"><%= f.password_field :password %></div>
  Password Confirmation: 
  <div class="mb-3"><%= f.password_field :password_confirmation %></div>
  <div class="mb-3"><%= f.submit "Submit" %></div>

<% end %>